$otstupInfoTop: 80%;

.artistInfo{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.artistTopInfo{
    img{
        border-radius: 50%;
        height: $otstupInfoTop;
    }
    div{
        div{
            width: 200px;
            height: 40px;
            background-color: #2f2f2f;
            border-radius: 10px;
            align-items: center;
            justify-content: center;
            margin-top: 45%;
            
            bottom: 0;
        }
        div:hover{
            cursor: pointer;
            background-color: rgba(100, 100, 100, 0.5);
        } 
        height: $otstupInfoTop;
        display: flex;
        flex-direction: column;
    }
    
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.artistTrackInfo{
    width: 100%;
    height: 1000px;
}