*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

p{
    color: #ffffff;
}

html{
    width: 100%;
    height: 100%;
}

body{
    background-color: #191919;
}

.full{
    width: 100%;
    height: 100%;
}

.centered{
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto; 
}

button:hover{
    cursor: pointer;
}

button:hover p{
    transition: 0.1s;
    color: rgb(0, 150, 255);
    transform: scale(1.1);
}

button:active p{
    transform: scale(0.95);
}